.shower .caption p {
  margin-top: .5em;
}
.shower .caption h1 {
  line-height: 1;
}
.shower .caption h2 {
  font-size: 0.8em;
  margin: .2em 0 1em;
  line-height: 1;
}
p.venue {
  font-style: italic;
  margin-bottom: 1em;
}

.instructions li {
  font-weight: normal !important;
  font-style: italic;
}
.long.instructions {
  overflow-y: scroll;
  max-height: 11em;
}
.long.instructions li {
  font-size: .66em;
  margin-bottom: .5em;
}
p.address {
  font-style: italic;
  padding-top: 3em;
}

.slide .shout {
  font-size: 2em;
  line-height: 1.3;
}

.shower .slide.title h3 {
  color: #999999;
  font-weight: normal;
  font-size: 1.12em;
  margin-top: -2.5em;
}
